# Build dependencies
setuptools

# Runtime dependencies
fastapi
uvicorn
python-dotenv
beanie
motor
pydantic
azure-servicebus
mailersend
asyncio

# Test dependencies
pytest
pytest-asyncio
httpx
factory_boy
pytest-describe

# Code coverage dependencies
coverage
pytest-cov

# Code quality dependencies
flake8
black
isort