# Build dependencies
setuptools

# Runtime dependencies
fastapi
uvicorn
python-dotenv
beanie
motor
pydantic

# Test dependencies
pytest
httpx
factory_boy
pytest-describe

# Code coverage dependencies
coverage
pytest-cov

# Code quality dependencies
flake8
black
isort